# Terraform working dirs
.terraform/
.crash/
*.log

# State files (절대 커밋 금지)
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# 계획/임시 파일
*.tfplan
*.tfplan.*
terraform.tfvars
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# 편의상 예시는 커밋하고, 실제 값 파일은 제외
!**/*.tfvars.example
!**/*.auto.tfvars.example

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp